{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7
  },
  "rules": {
    "arrow-body-style": 0,
    "prefer-arrow-callback": 0,
        "prefer-template": 0,
    "no-console": 0,
    "require-yield": 0,
    "require-await": 0,
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ]
  },
  "indent": 2
}
